extends ../layout

block content
    h1.title_1 평가 관리
    // main 시작
    div.main
        //main_content navbar
        div.main_nav
            nav.navbar.navbar-light.bg-light
            .container-fluid
                a.main_a.navbar-brand(href='/evaluate') 평가 조회
                a.main_a.navbar-brand(href='/evaluate/evaluate_avg') 항목 평균 조회
                a.main_a.navbar-brand(href='/evaluate/submit_e') 직원 평가 정보 입력
                a.main_a.navbar-brand(href='/evaluate/update_e') 직원 평가 정보 수정
                a.main_a.navbar-brand(href='/evaluate/submit_c') 고객 평가 정보 입력
                a.main_a.navbar-brand(href='/evaluate/update_c') 고객 평가 정보 수정
                a.main_a.navbar-brand(href='/evaluate/submit_p') PM 평가 정보 입력
                a.main_a.navbar-brand(href='/evaluate/update_p') PM 평가 정보 수정
        //main_content 
        div.main_conent
            h3.title_2 평가 정보 조회
            //검색창 시작
            div.evaluates
                form#evaluate_search.row.row-cols-lg-auto.g-3.align-items-center(action='/evaluate/search' method = 'get')
                    .col-1
                        label(for='employee_id') 사번
                    .col-2
                        input#employee_id.form-control(type='text' name = 'employee_id' placeholder='사번')
                    .col-2
                        label(for='project_id') 프로젝트 번호
                    .col-2
                        input#project_id.form-control(type='text' name = 'project_id' placeholder='프로젝트번호')
                    .col-3
                        button.btn.btn-primary(type='submit') 조회
                if evaluates
                    //table-고객평가
                    for evaluate_ in evaluates[3]
                        for evaluate in evaluates[0]
                            table.table.test
                                h2.title_2 고객 평가
                                tr.result
                                    th 사원 이름
                                    th 평가 항목
                                    th 점수
                                    th 코멘트
                                    th 고객 
                                    th 프로젝트 아이디
                                tbody#table1
                                tr
                                    td(rowspan=2) #{evaluate_.employee_name}
                                    td 업무 수행
                                    td #{evaluate.customer_duty_grade}
                                    td #{evaluate.customer_duty_evl_content}
                                    td(rowspan=2) #{evaluate.customer_id}
                                    td(rowspan=2) #{evaluate.project_id}
                                tr
                                    td 커뮤니케이션
                                    td #{evaluate.customer_cmnct_grade}
                                    td #{evaluate.customer_cmnct_evl_content}
                        //table-PM평가
                        for evaluate in evaluates[1]
                            table.table.test
                                h2.title_2 PM 평가
                                tr.result
                                    th.short 사원 이름
                                    th 평가 항목
                                    th 점수
                                    th 코멘트
                                    th PM 
                                    th 프로젝트 아이디
                                tbody#table1
                                tr
                                    td(rowspan=2) #{evaluate_.employee_name}
                                    td 업무 수행
                                    td #{evaluate.pm_duty_grade}
                                    td #{evaluate.pm_duty_evl_content}
                                    td(rowspan=2) #{evaluate.project_manager_id}
                                    td(rowspan=2) #{evaluate.project_id}
                                tr
                                    td 커뮤니케이션
                                    td #{evaluate.pm_cmnct_grade}
                                    td #{evaluate.pm_cmnct_evl_content}
                        //table-동료평가
                        for evaluate in evaluates[2]
                            table.table.test
                                h2.title_2 동료 평가
                                tr.result
                                    th 사원 이름
                                    th 평가 항목
                                    th 점수
                                    th 코멘트
                                    th 사원 
                                    th 프로젝트 아이디
                                tbody#table1
                                tr
                                    td(rowspan=2) #{evaluate_.employee_name}
                                    td 업무 수행
                                    td #{evaluate.employee_duty_grade}
                                    td #{evaluate.employee_duty_evl_content}
                                    td(rowspan=2) #{evaluate.emp_p_evl_id}
                                    td(rowspan=2) #{evaluate.project_id}
                                tr
                                    td 커뮤니케이션
                                    td #{evaluate.employee_cmnct_grade}
                                    td #{evaluate.employee_cmnct_evl_content}
                        
       



              
                