extends ../layout

block content
    h1.title_1 직원 관리
    // main 시작
    div.main
        //main_content navbar
        div.main_nav
            nav.navbar.navbar-light.bg-light
            .container-fluid
                a.main_a.navbar-brand(href='/personnel') 인사 정보 등록
                a.main_a.navbar-brand(href='/personnel/personnel_modify') 인사 정보 수정
                a.main_a.navbar-brand(href='/personnel/personnel_search') 인사 정보 조회
                a.main_a.navbar-brand(href='/personnel/department_info') 부서 조회
                a.main_a.navbar-brand(href='/personnel/position_update') 직급 변경
                a.main_a.navbar-brand(href='/personnel/department_update') 부서 변경
        //main_content 
        div.main_conent
            h3.title_2 부서 조회
            //검색창 시작
            form(method='post').row.row-cols-lg-auto.g-3.align-items-center
                .col-2 
                    label 검색어
                .col-3
                    label 부서 번호
                .col-4
                    input#inlineFormSelectPref.form-control(type='text' name='department_id',placeholder='부서이름')
                .col-2
                    button.btn.btn-primary(type='submit') 조회
            //table 시작
            if results   
                table.table
                    thead 
                    tr 
                        th 사번
                        th 이름
                        th 부서이름
                        th 직책번호
                        th 직책이름
                    tr
                    each i, idx in results
                        tbody
                            td(rowspan=2)=i.employee_id 
                            td(rowspan=2)=i.employee_name
                            td(rowspan=2)=i.department_name 
                            td(rowspan=2)=i.position_id 
                            td(rowspan=2)=i.position_name
                            


        

            


              
